@font-face {
  font-family: "TT Lakes Regular";
  src: url(fonts/TTLakes-Regular.woff) format("woff");
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url(fonts/TTLakes-Bold.woff) format("woff");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url(fonts/TTLakes-Medium.woff) format("woff");
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "TT Lakes Regular";
  background-color: #f8f8f8;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  width: 90%;
}

.header {
  display: none;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
}

.header--margin {
  margin-bottom: 24px;
}

.header__container {
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__call,
.header__chat,
.header__profile,
.header__block,
.content__text:nth-child(2) {
  display: none;
}


.header__repair {
  margin-right: 2rem;
}

.main__header {
  display: flex;
  justify-content: space-between;
}

.main__title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 41px;
  background-color: #41f6d7;
  border-radius: 0 5px 5px 0;
}

.main__title {
  font-family: "TT Lakes Bold";
  font-size: 1.8rem;
  margin-bottom: 24px;
}



.main__icons span {
  display: inline-block;
}

.nav--padding {
  display: inline-block;
  margin-bottom: 24px;
  padding: 8px 16px;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #ffffff;
}

.nav__item {
  color: #7e7e82;
}

.content__text {
  margin-bottom: 16px;
  font-size: 0.875rem;
}

.content__button {
  margin: 0 0 24px 8px;
  border: none;
  background: none;
}

.button__name {
  font-size: 1rem;
  margin-left: 16px;
}

.content__img {
  margin: 0 auto;
}

.content__img img {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}

.header__hr--none {
  display: none;
}

@media screen and (max-width: 320px) {
  .header {
    display: block;
  }

  .main__icons, .content__text:nth-child(2), .content__text:nth-child(3) {
    display: none;
  }

  .header__repair {
    margin-right: 0;
  }

  .header__container .header__hr:last-of-type {
    display: block;
    width: 2px;
    height: 32px;
    background: #eaeaea;
    border-radius: 1px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .header,
  .header__block,
  .header__call,
  .header__chat,
  .header__profile,
  .content__text:nth-child(2) {
    display: block;
  }

  .main__icons, .content__text:nth-child(3) {
    display: none;
  }

  .header__hr {
    display: block;
    width: 2px;
    height: 32px;
    background: #eaeaea;
    border-radius: 1px;
  }

  .header__repair {
    margin-right: 0;
  }

  .content--flex {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .content__text {
    padding-right: 2rem;
  }

  .header__block {
    width: 20%;
  }
}

