@font-face {
  font-family: "TT Lakes Regular";
  src: url(fonts/TTLakes-Regular.woff) format("woff");
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url(fonts/TTLakes-Bold.woff) format("woff");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url(fonts/TTLakes-Medium.woff) format("woff");
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "TT Lakes Regular";
  background-color: #f2f2f2;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.nav__item a:link,
.nav__item a:visited {
  color: #7e7e82;
}

.page4 {
  margin: 0 auto;
  padding: 42px 0 0 0;
  max-width: 1120px;
  background-color: #f8f8f8;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.header {
  display: none;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
}

.header--margin {
  margin-bottom: 24px;
}

.header__container {
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__left,
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__support,
.header__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__button--call,
.header__button--chat,
.header__button--profile,
.header__logo,
.header__status .header__button--repair {
  margin-right: 1rem;
}

.header__left div:first-child {
  margin-right: 1rem;
  height: 40px;
}

.header__left div:last-child {
  padding-top: 5px;
}

.header__button--call,
.header__button--chat,
.header__button--profile,
.content__text:nth-child(2) {
  display: none;
}

.main__header {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.main__title::before {
  content: "";
  position: absolute;
  left: -56px;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-radius: 0 5px 5px 0;
}

.main__title {
  font-family: "TT Lakes Bold";
  font-size: 1.8rem;
}

.main__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "TT Lakes Medium";
}

.main__buttons p {
  margin-right: 8px;
}

.main__buttons img {
  width: 40px;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.header__button {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background: #ff3e79;
}

.header__button--repair {
  background-image: url("./img/header/repair.svg");
}

.header__button--checkstatus {
  background-image: url("./img/header/checkstatus.svg");
}

.header__button--burger {
  background-image: url("./img/header/burger.svg");
}

.header__button--call {
  background-image: url("./img/header/call.svg");
}

.header__button--chat {
  background-image: url("./img/header/chat.svg");
}

.header__button--profile {
  background-image: url("./img/header/profile.svg");
}

.main__button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: "TT Lakes Medium";
  background: none;
}

.main__button--repair {
  margin-right: 2rem;
}

.main__button--repair::after {
  content: url(./img/header/repair.svg);
}

.main__button--checkstatus::after {
  content: url(./img/header/checkstatus.svg);
}

.nav--flex {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav--flex::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.nav::after {
  content: "";
  position: absolute;
  right: 0;
  width: 60px;
  height: 30px;
  background-color: #f2f2f2;
  filter: blur(10px);
}

.nav__item {
  padding: 8px 16px;
  color: #7e7e82;
  white-space: nowrap;
  font-family: "TT Lakes Medium";
}

.nav__item:hover {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 6px 14px;
}

.content--flex {
  max-width: 1120px;
  width: 90%;
  margin: 0 auto 30px auto;
  display: flex;
  flex-direction: row;
}

.content__text {
  margin-bottom: 16px;
  padding-right: 2rem;
  font-size: 0.875rem;
}

.content__button {
  margin: 0 0 24px 8px;
  background: none;
}

.content__button::before {
  content: url(./img/main/icon.svg);
}

.button__name {
  font-size: 1rem;
  margin-left: 16px;
}

.content__img img {
  width: 100%;
}

.header__hr--none {
  display: none;
}

.service__title {
  text-transform: uppercase;
  color: #7e7e82;
}

.service__header {
  min-height: 56px;
  display: flex;
  align-items: center;
  border-top: 1px solid #D9FFF5;
  background-image: linear-gradient(to right, #F8F8F8 20%, #FFFFFF 70%);
}

@media screen and (max-width: 320px) {
  .header {
    display: block;
  }

  .page4 {
    padding-top: 0;
  }

  .main__buttons,
  .header__left .header__hr,
  .content__text:nth-child(2),
  .content__text:nth-child(3) {
    display: none;
  }

  .main__header {
    position: static;
  }

  .main__title::before {
    left: 0;
  }

  .header__status .header__hr {
    margin-right: 1rem;
    display: block;
    width: 2px;
    height: 32px;
    background: #eaeaea;
    opacity: 0.5;
    border-radius: 1px;
  }

  .nav--flex {
    flex-wrap: nowrap;
  }

  .content--flex {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .page4 {
    padding-top: 0;
  }

  .header,
  .header__block,
  .header__button--call,
  .header__button--chat,
  .header__button--profile,
  .content__text:nth-child(2) {
    display: block;
  }

  .main__buttons,
  .content__text:nth-child(3) {
    display: none;
  }

  .header__hr {
    margin-right: 1rem;
    display: block;
    width: 2px;
    height: 32px;
    background: #eaeaea;
    opacity: 0.5;
    border-radius: 1px;
  }

  .main__header {
    position: static;
  }

  .main__title::before {
    left: 0;
  }

  .content--flex {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .nav--flex {
    flex-wrap: nowrap;
  }
}
